@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(white, rgb(204, 163, 238), rgb(172, 66, 243));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

p, h1 {
  font-family: "Quicksand", sans-serif;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(201, 83, 236, 0.473);
  
}

#home {
  border-radius: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.404);
  margin-left: 500px;
  border: 1px solid;
}


button {
  margin-right: 18px;
}
