body {
  background-image: linear-gradient(white, rgb(204, 163, 238), rgb(172, 66, 243));
  background-repeat: no-repeat;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-title {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.skills {
  font-size: 80%;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(201, 83, 236, 0.473);
  
}

button {
  margin-right: 18px;
}
